---
title: App-Autoscaler
owner: Services
---

<strong><%= modified_date %></strong>

## <a id='overview'></a> Overview

App-Autoscaler is a marketplace service which helps to control the cost of running apps while maintaining their performance. It allows you to automatically scale application instances according to your specified performance metrics.

## <a id='readme'></a> User Guide

For a detailed description on how to use the service, please consult the [Autoscaler User Guide](https://github.com/cloudfoundry-incubator/app-autoscaler/blob/master/docs/Readme.md).

## <a id='policy'></a> Policy Definition

[Policy Definition](https://github.com/cloudfoundry-incubator/app-autoscaler/blob/master/docs/Policy_definition.rst)

## <a id='example'></a> Example Policy

[Example Policy](https://github.com/cloudfoundry-incubator/app-autoscaler/blob/develop/src/integration/fakePolicyWithSchedule.json)
