---
title: MariaDB
---

## <a id='managing-services'></a> Managing services ##
[Managing services](/service-connector/index.html)

## <a id='integrating-your-service'></a> Integrating the Service With Your App ##
After the [creation](/devguide/services/managing-services.html#create) of the service and the [binding](/devguide/services/managing-services.html#bind) of the service to the application, the environment variable [VCAP_SERVICES](/devguide/deploy-apps/environment-variable.html#VCAP-SERVICES) is created. Information about the credentials are stored in this variable as shown here:<pre class="code">
     {
       "mariadb": [
         {
           "credentials": {
           "database": "CF",
           "database_uri": "mysql://h0RG2:Fvoz@10.0.0.7:3336/CF?reconnect=true",
           "host": "10.0.0.7",
           "jdbcUrl": "jdbc:mysql://10.0.0.7:3336/CF",
           "name": "CF",
           "password": "Fvoz",
           "port": 3336,
           "uri": "mysql://h0RG2:Fvoz@10.0.0.7:3336/CF?reconnect=true",
           "username": "h0RG2"
           },
           "label": "mariadb",
           "name": "testmaria",
           "plan": "small",
           "tags": []
         }
      ]
    }
</pre>

## <a id='sample-application'></a> Sample Application ##

[https://github.com/cloudfoundry-samples/spring-music](https://github.com/cloudfoundry-samples/spring-music)

## <a id='limitations'></a> Known Limitations  ##
The base of our HA MariaDB offering is built by a galera cluster, which brings some [known limitations](https://mariadb.com/kb/en/mariadb/mariadb-galera-cluster-known-limitations/) with it.
