---
title: MongoDB
owner: Services
---

<p class="note">
  <strong>Important:</strong> this page is deprecated. Please see here: <a href="https://docs.developer.swisscom.com/service-offerings/mongodbent.html">MongoDB Enterprise</a>
</p>
