---
title: RabbitMQ
---

<strong><%= modified_date %></strong>

## <a id='integrating-your-service'></a> Integrating the Service With Your App

After the [creation](../devguide/services/managing-services.html#create) of the service and the [binding](../devguide/services/application-binding.html#bind) of the service to the application, the environment variable [VCAP_SERVICES](../devguide/deploy-apps/environment-variable.html#VCAP-SERVICES) is created. Information about the credentials are stored in this variable as shown here:

```JSON
{
  "rabbitmq": [
    {
      "credentials": {
        "host": "pel34lfyo.service.consul",
        "password": "JH2DX9CjV",
        "port": 52156,
        "uri": "amqp://2A4c0QseN417l:JH2DX9CjV@pel34lfyo.service.consul:52156/vhost1",
        "username": "2A4c0QseN417l",
        "vhost": "vhost1"
      },
      "label": "rabbitmq",
      "name": "testrabbit",
      "plan": "small",
      "tags": []
    }
  ]
}
```

## <a id='service-connector'></a> Administrating your RabbitMQ instances

To connect to a running RabbitMQ instance with your local development tools, you can use the Swisscom [Service Connector](../service-connector/index.html) plugin for the Cloud Foundry CLI.

## <a id='sample-application'></a> Sample Application

[https://github.com/cloudfoundry-samples/rabbitmq-cloudfoundry-samples](https://github.com/cloudfoundry-samples/rabbitmq-cloudfoundry-samples)
